/*body {
    background-image: url("./assets/images/background.png");
    background-repeat: repeat;
} */

#crystal_1 {
    width: 8%;
}

#crystal_2 {
    width: 5%;
}

#crystal_3 {
    width: 8%;
}

#crystal_4 {
    width: 8%;
}